* {
    margin: 0;
    padding: 0;
}

.header {
    background: rgba(229, 84, 115, 0.10);
    background-image: url('../images/pngwing\ 10.png');
    max-width: 1600px;
    height: 300px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;

}

.header-content {
    width: 50%;
    margin-left: 240px;
    padding-bottom: 140px;
}

.header-title {
    color: #272727;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 32px;

}

.header-des {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
}

.header-btn {
    padding: 15px 35px;
    border-radius: 8px;
    background-color: #E55473;
    ;
    border: 0;
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 140px;
}


.featured-section {
    margin-top: 170px;
    text-align: center;
    margin-bottom: 50px;
}

.featured-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.featured-des {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 500;
    margin-top: 24px;
}

.flower-section {
    margin-bottom: 120px;
    display: flex;
    gap: 24px;
    justify-content: center;

}

.first-flower {
    width: 200px;
    padding: 100px 70px 0px 70px;
    border-radius: 300px 300px 0 0;
    background: rgba(167, 33, 98, 0.15);
}

.flower-title {
    color: #272727;
    text-align: center;
    margin-top: 32px;
    font-size: 20px;
    font-weight: 700;
    text-decoration-line: underline;
}

.second-flower {
    width: 210px;
    padding: 110px 45px 50px 45px;
    border-radius: 300px 300px 0 0;
    background: rgba(5, 151, 160, 0.15);
}

.third-flower {
    width: 200px;
    padding: 65px 75px 0px 75px;
    border-radius: 300px 300px 0 0;
    background: rgba(167, 33, 98, 0.15);
}

.hot-deals {
    display: flex;
    justify-content: center;
    gap: 210px;
    margin-bottom: 120px;
    background: rgba(229, 84, 115, 0.10);
}

.deal-text {
    width: 480px;
    margin-top: 130px;
}

.deal-img {
    width: 260px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.deal-title {
    color: #272727;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 24px;
}

.deal-des {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 32px;
}

.insta-flower-section {
    margin-bottom: 128px;
    display: flex;
    justify-content: center;
    
    
}

.insta-flower {
    width: 220px;
    margin-right: 24px;
    
}