*{
    margin: 0;
    padding: 0;
}

.header{
    background: rgba(229, 84, 115, 0.10);
    background-image: url('../images/pngwing\ 10.png');
    max-width: 1600px;
    height: 300px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    
}

.header-content{
    width: 50%;
    margin-left: 240px;
    padding-bottom: 140px;
}

.header-title{
    color: #272727;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 32px;

}

.header-des{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
}

.header-btn{
    padding: 15px 35px;
    border-radius: 8px;
    background-color: #E55473;;
    border: 0;
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 140px;
}


.featured-section{
    margin-top: 170px;
    text-align: center;
    margin-bottom: 50px;
}

.featured-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.featured-des{
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 500;
    margin-top: 24px;
}